In [64]:
#SatatogaHouses - Linear Regression 

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [65]:
data=pd.read_csv('SaratogaHouses.csv')

In [66]:
data.head()

,Unnamed: 0,price,lotSize,age,landValue,livingArea,pctCollege,bedrooms,fireplaces,bathrooms,rooms,heating,fuel,sewer,waterfront,newConstruction,centralAir
0,1,132500,0.09,42,50000,906,35,2,1,1.0,5,electric,electric,septic,No,No,No
1,2,181115,0.92,0,22300,1953,51,3,0,2.5,6,hot water/steam,gas,septic,No,No,No
2,3,109000,0.19,133,7300,1944,51,4,1,1.0,8,hot water/steam,gas,public/commercial,No,No,No
3,4,155000,0.41,13,18700,1944,51,3,1,1.5,5,hot air,gas,septic,No,No,No
4,5,86060,0.11,0,15000,840,51,2,0,1.0,3,hot air,gas,public/commercial,No,Yes,Yes

In [67]:
data.shape

(1728, 17)

In [68]:
x=data['livingArea'].values
y=data['price'].values

In [69]:
from sklearn import model_selection
x_train,x_test,y_train,y_test=model_selection.train_test_split(x,y,test_size=0.3)

In [70]:
x_train.shape

(1209,)

In [74]:
def obtainFit(x_train,y_train):
    numerator=(x_train*y_train).mean() - x_train.mean()*y_train.mean()
    denomenator=(x_train**2).mean() - (x_train.mean())**2
    m=numerator/denomenator
    c=y_train.mean() - m*x_train.mean()
    return m,c

def predict(x,m,c):
    return m*x + c

def score(y_true,y_pred):
    t=((y_true-y_pred)**2).sum()
    s=((y_true-y_true.mean())**2).sum()
    return 1-t/s

def costfunction(x,y,m,c):
    return ((y-m*x-c)**2).mean()

In [78]:
m,c=obtainFit(x_train,y_train)
y_test_pred=predict(x_test,m,c)
print('Test Score is :', score(y_test,y_test_pred))
y_train_pred=predict(x_train,m,c)
print("Train Score is:", score(y_train,y_train_pred))


print("M , C are as follows \n:",m,c)
print("Cost on training data:\n", costfunction(x_train,y_train,m,c))
print("Cost on training data:\n",costfunction(x_train,y_train,m+1,c))

Test Score is : 0.5131442689798024
Train Score is: 0.5025758988120017
M , C are as follows
: 113.68466212880031 11478.285337310255
Cost on training data:
 4665241863.597733
Cost on training data:
 4668610124.316508