In [16]:
# pandas - it is a python library used for data manipulation and analysis and cleaning and removing inconsistencies
#installing pandads on system : open terminal and type -> pip install pandas on the command prompt
#installing python pandas on anaconda : type -> conda install pandas on the commpand prompt 

#What are dataframes Series? -> A dataframe is a two dimensional, size-mutable , heterogenous tabular data. A Pandas series is
# one dimensional labeled array that holds data of any type.

#Example
#importing the pandas library
import pandas as pd
import numpy as np

In [17]:
#creating a series

s=pd.Series([1,2,3,4,5,6,np.nan,8,9,10])

In [18]:
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64

In [19]:
#creating a dataframe 
d=pd.date_range("20200518",periods=10)

In [20]:
d

DatetimeIndex(['2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21',
               '2020-05-22', '2020-05-23', '2020-05-24', '2020-05-25',
               '2020-05-26', '2020-05-27'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df=pd.DataFrame(np.random.randn(10,4),index=d,columns=['A','B','C','D'])

In [22]:
df

                   A         B         C         D
2020-05-18  0.003494  2.154004 -0.070177  0.046422
2020-05-19 -0.338394 -1.349600  0.097642  0.377403
2020-05-20  0.112549  0.774914  0.939130  0.710922
2020-05-21 -0.559390  1.897434 -1.465623 -0.220176
2020-05-22  0.847205  0.803796  0.487027  0.153419
2020-05-23  1.360131  0.033279  0.203111  1.883209
2020-05-24 -0.356005  0.741928 -0.220938 -0.605966
2020-05-25 -1.102830 -0.772870  1.049102 -1.638645
2020-05-26 -1.490392 -1.466000  0.835512  0.460684
2020-05-27  0.470127 -1.329781  1.143306 -1.676731

In [23]:
# creating a dataframe by passing a dictionary of objects
df1=pd.DataFrame({'A':[1,2,3,4],"B":pd.Timestamp('20200518'),
                 'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                 'D':np.array([5]*4,dtype='int32'),
                 'E':pd.Categorical(['true','False','True','false']),
                 'F':'Machine Learning'})

In [24]:
df1

   A          B    C  D      E                 F
0  1 2020-05-18  1.0  5   true  Machine Learning
1  2 2020-05-18  1.0  5  False  Machine Learning
2  3 2020-05-18  1.0  5   True  Machine Learning
3  4 2020-05-18  1.0  5  false  Machine Learning

In [25]:
#checking the type of dataframe 
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [26]:
#How to view data using pandas library?
df.head()
#head() function gives the first five values of the dataframe

                   A         B         C         D
2020-05-18  0.003494  2.154004 -0.070177  0.046422
2020-05-19 -0.338394 -1.349600  0.097642  0.377403
2020-05-20  0.112549  0.774914  0.939130  0.710922
2020-05-21 -0.559390  1.897434 -1.465623 -0.220176
2020-05-22  0.847205  0.803796  0.487027  0.153419

In [27]:
df.tail()
#tail() function gives the last rows of the dataframe

                   A         B         C         D
2020-05-23  1.360131  0.033279  0.203111  1.883209
2020-05-24 -0.356005  0.741928 -0.220938 -0.605966
2020-05-25 -1.102830 -0.772870  1.049102 -1.638645
2020-05-26 -1.490392 -1.466000  0.835512  0.460684
2020-05-27  0.470127 -1.329781  1.143306 -1.676731

In [35]:
#gettig the index values
df.index

DatetimeIndex(['2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21',
               '2020-05-22', '2020-05-23', '2020-05-24', '2020-05-25',
               '2020-05-26', '2020-05-27'],
              dtype='datetime64[ns]', freq='D')

In [36]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [37]:
#To view only some specific part of the dataframe
df1.head(2)

   A          B    C  D      E                 F
0  1 2020-05-18  1.0  5   true  Machine Learning
1  2 2020-05-18  1.0  5  False  Machine Learning

In [38]:
df1.tail(2)

   A          B    C  D      E                 F
2  3 2020-05-18  1.0  5   True  Machine Learning
3  4 2020-05-18  1.0  5  false  Machine Learning

In [39]:
df1.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [40]:
df1.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [41]:
df1.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [44]:
#Numpy representation of the dataframe
df.to_numpy()

array([[ 0.00349439,  2.15400352, -0.07017717,  0.04642183],
       [-0.33839414, -1.34959989,  0.09764193,  0.37740314],
       [ 0.11254853,  0.77491424,  0.93913044,  0.7109216 ],
       [-0.55938967,  1.89743394, -1.46562253, -0.22017624],
       [ 0.84720463,  0.80379562,  0.48702675,  0.15341888],
       [ 1.36013096,  0.0332793 ,  0.20311141,  1.88320873],
       [-0.35600496,  0.74192761, -0.22093788, -0.6059657 ],
       [-1.10282959, -0.77287046,  1.04910208, -1.63864476],
       [-1.49039205, -1.46599955,  0.83551193,  0.46068402],
       [ 0.47012697, -1.32978062,  1.14330591, -1.67673135]])

In [46]:
#getting a description of the dataframe 
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.105350   0.148710   0.299809  -0.050946
std     0.861658   1.339702   0.787311   1.070750
min    -1.490392  -1.466000  -1.465623  -1.676731
25%    -0.508543  -1.190553  -0.028222  -0.509518
50%    -0.167450   0.387603   0.345069   0.099920
75%     0.380732   0.796575   0.913226   0.439864
max     1.360131   2.154004   1.143306   1.883209

In [54]:
#Sorting data by an access in a dataframe
df.sort_index(axis=1,ascending=True)

                   A         B         C         D
2020-05-18  0.003494  2.154004 -0.070177  0.046422
2020-05-19 -0.338394 -1.349600  0.097642  0.377403
2020-05-20  0.112549  0.774914  0.939130  0.710922
2020-05-21 -0.559390  1.897434 -1.465623 -0.220176
2020-05-22  0.847205  0.803796  0.487027  0.153419
2020-05-23  1.360131  0.033279  0.203111  1.883209
2020-05-24 -0.356005  0.741928 -0.220938 -0.605966
2020-05-25 -1.102830 -0.772870  1.049102 -1.638645
2020-05-26 -1.490392 -1.466000  0.835512  0.460684
2020-05-27  0.470127 -1.329781  1.143306 -1.676731

In [55]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2020-05-18  0.046422 -0.070177  2.154004  0.003494
2020-05-19  0.377403  0.097642 -1.349600 -0.338394
2020-05-20  0.710922  0.939130  0.774914  0.112549
2020-05-21 -0.220176 -1.465623  1.897434 -0.559390
2020-05-22  0.153419  0.487027  0.803796  0.847205
2020-05-23  1.883209  0.203111  0.033279  1.360131
2020-05-24 -0.605966 -0.220938  0.741928 -0.356005
2020-05-25 -1.638645  1.049102 -0.772870 -1.102830
2020-05-26  0.460684  0.835512 -1.466000 -1.490392
2020-05-27 -1.676731  1.143306 -1.329781  0.470127

In [57]:
#Sorting dataframe by a particular value
df.sort_values(by='C')

                   A         B         C         D
2020-05-21 -0.559390  1.897434 -1.465623 -0.220176
2020-05-24 -0.356005  0.741928 -0.220938 -0.605966
2020-05-18  0.003494  2.154004 -0.070177  0.046422
2020-05-19 -0.338394 -1.349600  0.097642  0.377403
2020-05-23  1.360131  0.033279  0.203111  1.883209
2020-05-22  0.847205  0.803796  0.487027  0.153419
2020-05-26 -1.490392 -1.466000  0.835512  0.460684
2020-05-20  0.112549  0.774914  0.939130  0.710922
2020-05-25 -1.102830 -0.772870  1.049102 -1.638645
2020-05-27  0.470127 -1.329781  1.143306 -1.676731

In [58]:
#Selecting a single column from the dataframe 
df['C']

2020-05-18   -0.070177
2020-05-19    0.097642
2020-05-20    0.939130
2020-05-21   -1.465623
2020-05-22    0.487027
2020-05-23    0.203111
2020-05-24   -0.220938
2020-05-25    1.049102
2020-05-26    0.835512
2020-05-27    1.143306
Freq: D, Name: C, dtype: float64

In [64]:
#slicing the rows 
df[0:3:]

                   A         B         C         D
2020-05-18  0.003494  2.154004 -0.070177  0.046422
2020-05-19 -0.338394 -1.349600  0.097642  0.377403
2020-05-20  0.112549  0.774914  0.939130  0.710922

In [67]:
#selecting the data using lables 
df.loc[d[0]]

A    0.003494
B    2.154004
C   -0.070177
D    0.046422
Name: 2020-05-18 00:00:00, dtype: float64

In [71]:
#selecting data on a multi axis by label
df.loc[:,['A','C']]

                   A         C
2020-05-18  0.003494 -0.070177
2020-05-19 -0.338394  0.097642
2020-05-20  0.112549  0.939130
2020-05-21 -0.559390 -1.465623
2020-05-22  0.847205  0.487027
2020-05-23  1.360131  0.203111
2020-05-24 -0.356005 -0.220938
2020-05-25 -1.102830  1.049102
2020-05-26 -1.490392  0.835512
2020-05-27  0.470127  1.143306

In [72]:
#Getting the values at a range of indexes
df.loc['20200518':'20200522',['A','C']]

                   A         C
2020-05-18  0.003494 -0.070177
2020-05-19 -0.338394  0.097642
2020-05-20  0.112549  0.939130
2020-05-21 -0.559390 -1.465623
2020-05-22  0.847205  0.487027

In [74]:
#obtaining specific data from a particular index position and specific column labels
df.loc['20200522',['A','C']]

A    0.847205
C    0.487027
Name: 2020-05-22 00:00:00, dtype: float64

In [78]:
# obtaining a scalar value from a particular column label
df.at[d[0],'C']

-0.0701771653313348

In [79]:
#obtaining a value by using a position in a dataframe 
df.iloc[3]

A   -0.559390
B    1.897434
C   -1.465623
D   -0.220176
Name: 2020-05-21 00:00:00, dtype: float64

In [81]:
#obtaining value by using a range of positions in a dataframe 
df.iloc[3:6]

                   A         B         C         D
2020-05-21 -0.559390  1.897434 -1.465623 -0.220176
2020-05-22  0.847205  0.803796  0.487027  0.153419
2020-05-23  1.360131  0.033279  0.203111  1.883209

In [84]:
df.iloc[3:6,:2]

                   A         B
2020-05-21 -0.559390  1.897434
2020-05-22  0.847205  0.803796
2020-05-23  1.360131  0.033279

In [87]:
#obtaining values > any value in any column from the dataframe
df[df['A']>1]

                   A         B         C         D
2020-05-23  1.360131  0.033279  0.203111  1.883209

In [88]:
df[df['A']>2]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [94]:
# Handling missing values in the dataframe : 
#reindexing
df2=df.reindex(index=d[0:4],columns=list(df.columns)+['E'])

In [95]:
df2.loc[d[0]:d[1],'E']=1

In [96]:
df2

                   A         B         C         D    E
2020-05-18  0.003494  2.154004 -0.070177  0.046422  1.0
2020-05-19 -0.338394 -1.349600  0.097642  0.377403  1.0
2020-05-20  0.112549  0.774914  0.939130  0.710922  NaN
2020-05-21 -0.559390  1.897434 -1.465623 -0.220176  NaN

In [97]:
df2.isnull().count()

A    4
B    4
C    4
D    4
E    4
dtype: int64

In [98]:
#dropping the NaN values from the dataframe
df2.dropna()

                   A         B         C         D    E
2020-05-18  0.003494  2.154004 -0.070177  0.046422  1.0
2020-05-19 -0.338394 -1.349600  0.097642  0.377403  1.0

In [100]:
df2.fillna(value=2)

                   A         B         C         D    E
2020-05-18  0.003494  2.154004 -0.070177  0.046422  1.0
2020-05-19 -0.338394 -1.349600  0.097642  0.377403  1.0
2020-05-20  0.112549  0.774914  0.939130  0.710922  2.0
2020-05-21 -0.559390  1.897434 -1.465623 -0.220176  2.0

In [104]:
#Boolean mask to check which values are null
pd.isna(df2)

                A      B      C      D      E
2020-05-18  False  False  False  False  False
2020-05-19  False  False  False  False  False
2020-05-20  False  False  False  False   True
2020-05-21  False  False  False  False   True

PANDAS OPERATIONS : Discriptive Statistic Operations ,Applying Functions to data ,String Processing Operations ,Histogramming

In [105]:
#Histogramming
df.mean()

A   -0.105350
B    0.148710
C    0.299809
D   -0.050946
dtype: float64

In [107]:
df.mean(1)

2020-05-18    0.533436
2020-05-19   -0.303237
2020-05-20    0.634379
2020-05-21   -0.086939
2020-05-22    0.572861
2020-05-23    0.869933
2020-05-24   -0.110245
2020-05-25   -0.616311
2020-05-26   -0.415049
2020-05-27   -0.348270
Freq: D, dtype: float64

In [108]:
s=pd.Series([1,2,3,np.nan,4,5,6,7,8,9],index=d).shift(2)

In [109]:
s

2020-05-18    NaN
2020-05-19    NaN
2020-05-20    1.0
2020-05-21    2.0
2020-05-22    3.0
2020-05-23    NaN
2020-05-24    4.0
2020-05-25    5.0
2020-05-26    6.0
2020-05-27    7.0
Freq: D, dtype: float64

In [110]:
df.sub(s,axis='index')

                   A         B         C         D
2020-05-18       NaN       NaN       NaN       NaN
2020-05-19       NaN       NaN       NaN       NaN
2020-05-20 -0.887451 -0.225086 -0.060870 -0.289078
2020-05-21 -2.559390 -0.102566 -3.465623 -2.220176
2020-05-22 -2.152795 -2.196204 -2.512973 -2.846581
2020-05-23       NaN       NaN       NaN       NaN
2020-05-24 -4.356005 -3.258072 -4.220938 -4.605966
2020-05-25 -6.102830 -5.772870 -3.950898 -6.638645
2020-05-26 -7.490392 -7.466000 -5.164488 -5.539316
2020-05-27 -6.529873 -8.329781 -5.856694 -8.676731

In [111]:
#applying functions to data
df.apply(np.cumsum)

                   A         B         C         D
2020-05-18  0.003494  2.154004 -0.070177  0.046422
2020-05-19 -0.334900  0.804404  0.027465  0.423825
2020-05-20 -0.222351  1.579318  0.966595  1.134747
2020-05-21 -0.781741  3.476752 -0.499027  0.914570
2020-05-22  0.065464  4.280547 -0.012001  1.067989
2020-05-23  1.425595  4.313827  0.191111  2.951198
2020-05-24  1.069590  5.055754 -0.029827  2.345232
2020-05-25 -0.033240  4.282884  1.019275  0.706587
2020-05-26 -1.523632  2.816884  1.854787  1.167271
2020-05-27 -1.053505  1.487104  2.998093 -0.509460

In [114]:
#lambda function in python: 
#syntax : x=lambda a : a+10----> 
#         print(x(5))     -----> Output : 15 


df.apply(lambda x: x.max()-x.min())

A    2.850523
B    3.620003
C    2.608928
D    3.559940
dtype: float64